{{#if tweets}}
<ul class="container">
	{{#tweets}}
	<li class="item">
	    <a href="{{link}}">
		    <h2 class="item__title">
			    {{text}}
		    </h2>
		    <time class="item__time">{{time}}</time>
		    <p>Retweets: {{retweeted}}, Favourites: {{favourited}}</p>
        </a>
   	</li>
	{{/tweets}}
</ul>
{{/if}}
